{
    "ecmaFeatures": {
        "globalReturn": true,
        "modules": true
    },
    "env": {
        "browser": false,
        "es6": true,
        "node": true,
        "mocha": true,
    },
    "globals": {
        "document": false,
        "escape": false,
        "navigator": false,
        "unescape": false,
        "window": false,
        "describe": true,
        "before": true,
        "it": true,
        "expect": true,
        "sinon": true
    },
    "parser": "babel-eslint",
    "plugins": [ "babel" ],
    "rules": {
        "babel/new-cap": 1,
        "babel/no-invalid-this": 1,
        "babel/object-curly-spacing": 0,
        "babel/quotes": 1,
        "babel/semi": 1,
        "babel/no-unused-expressions": 1
    }
}
